*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #dddddddd;
}

.header{
    background-color: greenyellow;
}
.header label{
    width: 50px;
    display: block;
    padding: 10px;
    float: right;
    border: 1px white;
}
.header span{
    display: block;
    height: 5px;
    background-color: white;
    margin: 5px;

}

ul{
    display: none;
}

.header input:checked ~ ul{
    display: block;
}

.header p{
    float: left;
}

.header input{
    display:none
}

.header ul a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px;
}

ul::before{
    content: "";
    display: table;
    clear: both;
}

.header::after {
    content: "";
    display: table;
    clear: both;
}

.content::after{
    content: "";
    display: table;
    clear: both;
}
.conent p{
    padding: 20px;
    font-size: 16px;
}

.content{
    margin: 10px 400px;
}

.content img{
    float: right;
    border-radius: 50%;
    padding: 40px;
    max-width: 100%;
}
